@page 
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">

    <h3><a href="Logic/List">Go to virtual Warehouse!!</a> </h3>

    <h3><a href="#">View Purchase History!</a> </h3>
    <h3><a href="#">View Issue History!</a> </h3>

</div>
